@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* prevents horizontal scroll */
}

#root {
  min-height: 100vh; /* ensures React app covers full screen */
  display: flex;
  flex-direction: column;
}
